{% extends 'auth_base.html' %}

{% load i18n static bootstrap4 %}

{% block page_title %}Password reset{% endblock %}
{% block form_title %}Password Recovery{% endblock %}

{% block form_header %}
    <div class="small mb-3 text-muted">
        {% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
    </div>
{% endblock %}

{% block form_content %}
	{% bootstrap_field form.email placeholder="Enter email address" label_class="small mb-1" %}
	<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="{% url 'login' %}">Return to login</a>
		<button class="btn btn-primary" type="submit">{% translate 'Reset password' %}</button>
	</div>
{% endblock %}

{% block form_footer %}
<div class="small"><a href="#">Need an account? Sign up!</a></div>
{% endblock %}
